.navigation {
  padding: 20px 0;
  background-color: #353535;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    color: gold;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
  &__briefcase-image {
    width: 40px;
    height: 40px;
  }
  &__button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  &__total {
    color: white;
    font-size: 13px;
  }
}
.container {
  padding-right: 100px;
  padding-left: 100px;
}
