.navigation {
  padding: 20px 0;
  background-color: #353535;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    color: gold;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
  &__briefcase{
   width: 40px;
   height: 40px;
  }
}
.container {
  padding-right: 200px;
  padding-left: 200px;
}
