.search-main {
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  font-size: 20px;
}

h1 {
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search__input {
  width: 100%;
  margin-top:15px
}

input[type="text"] {
  font-size: 30px;
  &::placeholder {
    font-size: 30px;
  }
}
